#queryDiv {
    margin-right: auto;
    margin-left: auto;
    width:600px;
}
#textInput {
    margin-top: 10px;
}

td {
    width:150px;
    height:40px;
    padding-left: 10px;
    border: solid 2px gainsboro;
}
#bottomTab{
    position:fixed;
    bottom: 200px;
    left: 400px;
}
#bottomTab  ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}
#bottomTab li{
    display:inline;
    margin-left: 5px;
}